@font-face {
    font-family: XCharter;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("XCharter-Roman.woff2") format("woff2");
}

@font-face {
    font-family: XCharter;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("XCharter-Italic.woff2") format("woff2");
}

@font-face {
    font-family: XCharter;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("XCharter-Bold.woff2") format("woff2");
}

@font-face {
    font-family: XCharter;
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url("XCharter-BoldItalic.woff2") format("woff2");
}