/*-- scss:defaults --*/

$primary: #385898 !default;

/*-- scss:rules --*/

@font-face {
    font-display: swap;
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-VF.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Italic-VF.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

/* Use Bootstrap Icons for buttons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.btn {
    border-radius: 4px;
    margin-bottom: 2rem;
}

/* Cover image shadow */
img.quarto-cover-image {
    border: 1px solid rgb(206, 212, 218);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

/* Unfixing font-smoothing */
body {
    -webkit-font-smoothing: auto;
}

/* Reserve space for the popup */
nav.page-navigation {
    margin-bottom: 55px;
}

/* Hot fix for the editable text components under Quarto */
.live {
    margin-top: 5px;
}

livesample {
    margin-left: 0px !important;
}