@font-face {
    font-family: "Mona Sans";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("Mona-Sans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Mona Sans";
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("Mona-Sans-RegularItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Mona Sans";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("Mona-Sans-Bold.woff2") format("woff2");
}