@font-face {
    font-family: "HK Grotesk";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("HKGrotesk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("HKGrotesk-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "HK Grotesk";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("HankenGrotesk-Bold.woff2") format("woff2");
}