@font-face {
    font-family: MLModern;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("mlmodern-regular.woff2") format("woff2");
}

@font-face {
    font-family: MLModern;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("mlmodern-italic.woff2") format("woff2");
}

@font-face {
    font-family: MLModern;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("mlmodern-bold.woff2") format("woff2");
}